body, div, ul { margin: 0; padding: 0; }
@font-face {
  font-family: "CocoBiker-Regular-Trial";
  src: local(CocoBiker-Regular-Trial);
}
body {
  background-color: #6c86ab;  /* gris clair */ 
  font-family: Arial, sans-serif;  font-size: 13px;

}

table, caption, th, td {
    border: 2px;
    border-collapse: collapse;}
  caption, th, td 
  { padding: 8px; }
  caption 
  {background-color: rgb(211, 211, 211); }
  th 
  { background-color: rgb(235, 235, 244); }
  td 
  { background-color: rgb(206, 206, 206); }

  #conteneur  {
    width: 31%; 
    height: 10%; 
    padding: 5px; 
    margin: 10px; 
    }  

    #video2{
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position:absolute;
      top: 40%;
      left: 16%;
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #ffffff;
      text-align: center;
      text-shadow: #000000;
    }
    
    #video{
      width: 60%;
      height: 60%;
      object-fit: cover;
    }
    
#global { width: 100%; margin: 0 auto;font-weight: Arial;font-size:120%;font-weight: Bold;}

.entete { 
  position: relative;
  height: 100px; padding: 14%;
           background-color: rgb(78, 75, 75);
          }
#acceuil 
{
  background-image: url(en-tête\ -\ Copie.jpg); font-size:  40px;
  background-size: cover;
}
#lien2 
{
  background-image: url(carotte-de-colmar-a-coeur-rouge-2-10gr.png); font-size:  40px;
  background-size: cover;
}

#entete p 
{ 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* Menu de navigation */
#blocmenu { height: 36px; background-color: rgb(66, 61, 61); }
/* Contenu de la page */
#contenu { padding: 10px; 
background:linear-gradient(180deg,rgb(66, 61, 61) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgb(66, 61, 61) 100%);
text-decoration: none; color: rgb(255, 255, 255);}

/* Pied de page */
#pied { padding: 5px; background-color:rgb(66, 61, 61); }

/* Détails pour le menu de navigation */
#menu li { float: left; list-style-type: none; }

#menu li a, #menu li a:visited {
  padding: 10px; line-height: 35px; font-size: 14px;
  text-decoration: none; color: rgb(255, 255, 255); }

#menu li a:hover { background-color: rgb(165, 164, 165);
                   color: rgb(251, 251, 251); }
#menu a {
  padding: 4px 10px; 
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#menu a:hover, #menu a:focus {
  text-decoration: underline;
  color: #444;
}
#menu #en-cours a {
  background-color: #d9d7d7;
  color: #000000;
}
.effetneon {
    font-size: 4rem;
    text-align: center;
    color:#000000 ;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
    animation: lumiere 1s infinite linear;
}
@keyframes lumiere {
    0% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
    }

    50% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 32px rgb(230, 18, 124), 0 0 87px rgb(230, 18, 124), 0 0 120px rgb(230, 18, 124);
    }
}

.effetneon span {
    font-size: 6rem;
}
      .container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;
            min-height: 50vh;
            font-family:Candara;
        }
